@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './now-ui-kit.scss';

.btn-clear{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:hover,
    &:focus,
    &:active{
        background: none;
        box-shadow: none;
    }
}

.bg-baby-green{
    background-color: #8dd7cf;
}

div .navBaby{
    height: 5vh;
    text-align: right;
}

.btn-sign-in{
    margin-left: 10px;
}

.action-icon{
    cursor: pointer;
}


//Inicio HERO
.hero{
    background: url('./images/hero6.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    padding: 35px 100px 0px;

    text-align: center;
    color: white;
}

.hero-title{
    margin-top: 0px;
    font-size: 35px;
}

.hero-text{
    font-size: 16px;
    max-width: 700px;
}

div .absolute {
    position: absolute;
    bottom: 30vh;
    left: 10vw;
    
  }

.hero-button{
    border: none;
    color: #63aca4;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px 25px 20px 35px;
    border-radius: 35px;
    text-transform: uppercase;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #3d6863;
    cursor: pointer;
}

.hero-button .hero-button-icon{
    margin-left: 5px;
    margin-right: 10px;
}

.hero-button .hero-button-text{
    margin-top: 5px;
}

.hero-button:hover{
    background-color:#01534f;
    color: white;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-acessCode{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
.botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-signIn{
    align-items: center;
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.8rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.btn-entrar{
    margin-right: 1rem;
    background: #25dfa1;
}

.btn-cancel{
    background: #f16060;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background: gray;
}