@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './now-ui-kit.scss';

.btn-clear{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:hover,
    &:focus,
    &:active{
        background: none;
        box-shadow: none;
    }
}

.bg-baby-green{
    background-color: #8dd7cf;
}

div .navBaby{
    height: 45px;
    text-align: right;
}

.btn-sign-in{
    margin-left: 10px;
}

.action-icon{
    cursor: pointer;
}


//Inicio HERO
.hero{
    background: url('./images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding: 35px 100px 0px;

    text-align: center;
    color: white;
}

.hero-title{
    margin-top: 0px;
    font-size: 35px;
}

.hero-text{
    font-size: 16px;
    max-width: 700px;
}

div .absolute {
    position: absolute;
    bottom: 30vh;
    left: 10vw;
    
  }

.hero-button{
    border: none;
    color: #63aca4;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px 25px 20px 35px;
    border-radius: 35px;
    text-transform: uppercase;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #3d6863;
    cursor: pointer;
}

.hero-button .hero-button-icon{
    margin-left: 5px;
    margin-right: 10px;
}

.hero-button .hero-button-text{
    margin-top: 5px;
}

.hero-button:hover{
    background-color:#a9ece9;
    color: white;
}

// Modal Login
.modal-wrapper{
    background: #ffffff;
    width: 30%;
    max-width: 800px;
    margin: 4rem auto;
    transition: all 1.3s;
}

.modal-header {
    background: #2c2c2c;
    color: #e9e9e9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header p {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

.modal-content{
    padding: 0 1.5rem;
}

.modal-body{
    margin-bottom: 1rem;
}

.modal-body h4{
    font-size: 1.8rem;
    color: #DD501D;
}

.modal-body p{
    font-size: 1rem;
    background: #eee;
    color: #333;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}


.btn-openModal{
    font-size: 1rem;
    background: #2c2c2c;
    color: #eee;
    margin: 1rem;
    padding: .5rem 1.8rem ;
    border: none;
    outline: none;
    cursor: pointer;
}

.back-drop{
    background: rgba(51, 51, 51, 0.712);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}


.input-acessCode{
    text-align: center;
    margin: 0 auto;
    width: 55%;
}
.modal-botoes{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-signIn{
    align-items: center;
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.8rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.btn-entrar{
    margin-right: 1rem;
    background: #25dfa1;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-cancel{
    background: #f16060;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: #90bcb3;
}

.main-content{
    background: url('./images/content-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.content-container{
    margin: auto;
    width: 60%;
    
}

.content{
    width: 60%;
    height: 700px;
    background: white;
    align-items: center;
    position: absolute;
    bottom: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.500);
}

.content-text{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    font-size: 24px;
    padding-top: 3rem;
    margin: 0 auto;
}

.content-form{
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: center;
}

.form-element{
    margin-left: 25px;
}

.form-input{
    font-size: 14px;
}

.form-toggle{
    margin-left: 45px;
}

.btn-manage{
    float: right;
    margin-top: 50px;
    margin-right: 80px;
}

.btn-save{
    float: left;
    margin-top: 50px;
    margin-left: 80px;
}

.confirmed-list{
    width: 50%;
    margin: 4rem auto;
}

.confirmed-items{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    
}

